/* Container Styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #76ecd6, #94a3e9, #C471ED);
    font-family: sans-serif;
  }
  
  /* Form Container Styles */
  .form-container {
    background: #fff;
    padding: 40px;
    border-radius: 16px;
    margin-top: -12rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 300px;
    text-align: center;
  }
  
  /* Heading Styles */
  .heading {
    margin-bottom: 30px;
    color: #333;
    text-align: center;
  }
  
  /* Input Group Styles */
  .input-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .input-label {
    font-size: 14px;
    margin-bottom: 6px;
    display: block;
  }
  
  .input-field {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    box-sizing: border-box;
  }
  
  /* Forgot Password Styles */
  .forgot-password {
    text-align: right;
    font-size: 12px;
    margin-bottom: 20px;
  }
  
  /* Submit Button Styles */
  .submit-button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 24px;
    background: linear-gradient(to right, #58f3d6, #7084e2);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 11px;
  }
  
  /* Error and Success Message Styles */
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .success-message {
    color: green;
    margin-top: 10px;
  }
  
  /* Signup Text Styles */
  .signup-text {
    margin: 20px 10px;
    color: #8889da;
  }
  
  /* Social Button Styles */
  .social-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
  }
  